body {
    margin: 10px;
    padding: 0;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

/* TOGGLE SWITCH */
.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.fa-solid {
    padding: 0 10px;
}

.fa-moon {
    display: none !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20.4px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F4F4F4;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15.6px;
    width: 15.6px;
    left: 2.4px;
    bottom: 2.4px;
    background-color: #6943FF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #273549;
}

input:focus + .slider {
    box-shadow: 0 0 1px #273549;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15.6px);
    -ms-transform: translateX(15.6px);
    transform: translateX(15.6px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20.4px;
}

.slider.round:before {
    border-radius: 50%;
}  

/* MAIN CONTENT */
.main-container {
    margin-top: 40px;
}
/* Unit Conversion Container */
.unit-conv {
    background-color: #6943FF;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}

.unit-conv h1 {
    font-size: 28px;
}

.unit-conv h2 {
    font-size: 58px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 10px 0 25px;
}

.convert-btn {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 25px;
    font-family: "Inter", sans-serif;
    color: #3D3D3D;
    margin-bottom: 15px;
}

/* Unit Results Container */
.unit-results {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.unit-results-containers {
    background-color: #fff;
    width: 90%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#length {
    margin-top: 10px;
}

#mass {
    margin-bottom: 10px;
}

.unit-title {
    font-size: 20px;
    font-weight: 600;
    color: #5A537B;
    margin-bottom: 0;
}

.unit-para {
    font-size: 14px;
    font-weight: 400;
    color: #353535;
}

/* DARK MODE */
.dark-mode {
    .unit-results {
        background-color: #1F2937;
    }
    .unit-results-containers {
        background-color: #273549;
    }
    .unit-title {
        color: #CCC1FF;
    }
    .unit-para {
        color: #fff;
    }
}

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .unit-conv {
        padding: 10px 20px;
    }

    .unit-conv h1 {
        font-size: 24px;
    }

    .unit-conv h2 {
        font-size: 36px;
        padding: 8px 20px;
    }

    .convert-btn {
        padding: 8px 20px;
    }

    .length, .volume, .mass {
        width: 100%;
        margin-bottom: 15px;
    }

    .unit-results {
        padding: 20px 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 768px) {
    .unit-conv {
        padding: 15px 30px;
    }

    .unit-conv h1 {
        font-size: 26px;
    }

    .unit-conv h2 {
        font-size: 46px;
        padding: 8px 22px;
    }

    .convert-btn {
        padding: 9px 22px;
    }

    .length, .volume, .mass {
        width: 95%;
        margin-bottom: 20px;
    }

    .unit-results {
        padding: 25px 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 992px) {
    .unit-conv {
        padding: 18px 40px;
    }

    .unit-conv h1 {
        font-size: 27px;
    }

    .unit-conv h2 {
        font-size: 52px;
        padding: 9px 23px;
    }

    .convert-btn {
        padding: 9px 23px;
    }

    .length, .volume, .mass {
        width: 90%;
        margin-bottom: 22px;
    }

    .unit-results {
        padding: 28px 0;
    }
}