body {
    margin: 10px;
    padding: 0;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

/* TOGGLE SWITCH */
.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.toggle-switch p {
    font-weight: 600;
    color: #CCC1FF;
    padding: 0 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20.4px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15.6px;
    width: 15.6px;
    left: 2.4px;
    bottom: 2.4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15.6px);
    -ms-transform: translateX(15.6px);
    transform: translateX(15.6px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20.4px;
}

.slider.round:before {
    border-radius: 50%;
}  

/* MAIN CONTENT */
.main-container {
    background-color: aqua;
    margin-top: 40px;
}

.unit-conv {
    background-color: #6943FF;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}

.unit-conv h1 {
    font-size: 28px;
}

.unit-conv h2 {
    font-size: 58px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 10px 0 25px;
}

.convert-btn {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 25px;
    font-family: "Inter", sans-serif;
    color: #3D3D3D;
    margin-bottom: 15px;
}

.unit-results {
    background-color: #F4F4F4;
}